{% extends "AppCoder/padre.html" %}

{% load static %}

{{% block tituloForm %} 

<h4 class="text-center h3_contacto">Busca tu itinerario segun el continente</h4>
<br>
{% endblock %}

{% block formulario %} 

<form action="{% url 'buscar' %}" method="GET" class="text-center">

    <label for="region">Indica una region</label>
        <select name="region" id="region">
            <option value="">selecciona una region</option>
            <option value="norteamerica">Norteamerica</option>
            <option value="latinoamerica">Latinoamerica</option>
            <option value="asia">Asia</option>
            <option value="oceania">Oceania</option>
            <option value="europa">Europa</option>
            <option value="africa">Africa</option>
        </select>
    <!-- <input type="text" name="region" id="region">     -->
    <input type="submit" value="Buscar">
    
</form>
<br>
{% if itinerarios %} 

<h5 class="text-center h5_contacto">Itinerarios disponibles</h5>
<br>
{{ mensaje }}

<div class="container">
    <table class="table table-light">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Lugar</th>                      
                <th>Region</th>                     
            </tr>
        </thead>

        <tbody>
        {% for itinerario in itinerarios %} 
            <tr>
                <td>
                    {{ itinerario.nombre }}
                </td>
                <td>
                    {{ itinerario.lugar }}
                </td>
                <td>
                    {{ itinerario.region }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% else %} 

<h4 class="text-center h5_contacto">No hay itinerarios disponibles</h4>

{% endif %} 

{% endblock %}