{% extends 'AppCoder/padre.html' %} 

{% load static %}

{% block titulo %} 

    {<h1 class="text-center my-5">Comunidad</h1>}

{% endblock %}

{% block imagen %} 

<img src="../../static/AppCoder/assets/estrellas.png" class="img-fluid" alt="dibujo">

{% endblock %}

{% block titulo2 %} 

<h2 class="text-center my-5">Reseñas</h2>

{% endblock %}

{% block imagen2 %} 

<img src="../../static/AppCoder/assets/escribir.png" class="img-fluid" alt="dibujo">

{% endblock %}

{% block tituloForm %} 

        <h4 class="text-center h3_contacto">Deja en el muro tu reseña</h4>
        <br>
{% endblock %}


{% block formulario %} 

        <form action="" method="post" class="" style="display: flex; flex-direction: column; align-items: center; justify-content: center;" >
            <table>
                {% csrf_token %}
                {{ form.as_table }}
            </table>
            <input type="submit"  value="Agregar" 
            style="background-color: #D69CAF; 
            border-radius: 8px; 
            border-color: #ffff; 
            width: 100px; height: 40px;
            ">
            
        </form>

        <br>

        <div class="container">
            <table class="table table-light">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Comentario</th>                      
                        <th>Estrellas</th>                     
                    </tr>
                </thead>

                <tbody>
                {% for comentario in comentarios %}
                    <tr>
                        <td>
                            {{ comentario.nombre }}
                        </td>
                        <td>
                            {{ comentario.reseña }}
                        </td>
                        <td>
                            {{ comentario.estrellas }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        

{% endblock %}





