{% extends 'AppCoder/padre.html' %} 

{% load static %}

{% block titulo %} 

    {<h1 class="text-center my-5">Mi Historia</h1>}

{% endblock %}

{% block imagen %} 

<img src="../../static/AppCoder/assets/aviones.png" class="img-fluid" alt="dibujo">

{% endblock %}

{% block titulo2 %} 

<h2 class="text-center my-5">Mas sobre mi</h2>

{% endblock %}

{% block imagen2 %} 

<img src="../../static/AppCoder/assets/mujerCompu.png" class="img-fluid" alt="dibujo">

{% endblock %}

{% block formulario %} 

<h3 style="font-family: 'Arimo', sans-serif;display: flex; justify-content: center; align-items: center;">BIENVENID@ A MI BLOG DE VIAJES</h3>

{% endblock %}







